body{
    background-color: #e7e7e7;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #337ab7;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.text-grey{
    color: #999;
}
.text-blue{
    color: #2780e3;
}
.text-green{
    color: #3fb618;
}
.text-red{
    color: #ff0039;
}
.text-origin{
    color: #ff7518;
}
.btn{
  color: #fff;
  background-color: #337ab7;
  border: solid 1px #2e6da4;
}
.btn:hover,
.btn:focus {
    background-color:#286090;
    border-color:#122b40;
}
input{
    outline: none;
}
.nav{
    height: 50px;
    background-color: #fff;
    line-height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    border-bottom: solid 1px #e7e7e7;
}
.nav a.brand{
    width: 200px;
    text-align: center;
    float: left;
    color: #000;
    font-weight: bold;
}
.nav .admin{
    display: block;
    padding: 0 15px;
    color: #2780e3;
    float: right;
    position: relative;
}
.nav .admin .admin-name{
    display: inline-block;
    padding: 0 15px;
}
.nav .admin .admin-drop{
    display: none;
    position: absolute;
    background-color: #fff;
    left: 15px;
    right: 15px;
    border: solid 1px #e7e7e7;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 5px 0;
}
.admin:hover .admin-name{
    color: #337ab7;
}
.admin:hover .admin-drop{
    display: block;
}
.nav .admin .admin-drop a{
    display: block;
    text-align: left;
    padding: 0 15px;
    line-height: 30px;
}
.nav ul{
    padding-left: 15px;
    float: left;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    padding: 0 15px;
    display: inline-block;
}
.nav ul li a.active{
    text-decoration: none;
    background-color: #337ab7;
    color: #fff;
}
.sidebar{
    position: fixed;
    top: 50px;
    width: 200px;
    background-color: #fff;
    bottom: 0;
    padding-top: 15px;
}
.sidebar a{
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.sidebar a.active{
    color: #337ab7;;
    position: relative;
}
.sidebar a.active:after{
    right: 0;
    border: 10px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #e7e7e7;
    top: 50%;
    margin-top: -10px;
}
.errors{
    color:#ff7518;
    height: 30px;
    line-height: 30px;
    position:absolute;
    top:50px;
    left:200px;
    right: 0;
    z-index: 1000;
    padding-left: 30px;
    background-color: #fcf8e3;
    font-size: 12px;
}
.errors i{
    font-size: 14px;
}
.container{
    position: absolute;
    top: 50px;
    left: 200px;
    right: 0;
    /*z-index: 999;*/
    margin:15px;
    padding:15px;
    background-color: #fff;
    /*overflow: auto;*/
}
.container .title, .container .action, .container .filter{
    height: 50px;
    line-height: 50px;
}
.container .title{
    /*border-bottom: solid 1px #e7e7e7;*/
}
.container .filter{
    border-bottom: solid 1px #e7e7e7;
}
.container .filter a.active{
    color: #5bc0de;
}
.container .title h2{
    margin: 0;
    float: left;
    font-weight: normal;
    margin-right: 15px;
}
.container span.sep{
    color: #d6d6d6;
    margin: 0 10px;
}
.container table{
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
}
.container table a{
    text-decoration: underline;
}
.container table tr:hover{
    background-color: #e7e7e7
}
.container table th, .container table td{
    text-align: left;
    border: solid 1px #f8f8f8;
    text-indent: 10px;
    height: 50px;
}
.container input[type=submit]{
    background-color: #e7e7e7;
}
.container table.add{
    border:none;
}
.container table.add td{
    border:none;
    border-bottom: solid 1px #e7e7e7;
    text-indent: 0;
}
.container table.add input[type=text]{
    border:solid 1px #e7e7e7;
    height: 30px;
    width: 200px;
}
.container table.add input[type=text]:focus{
    border:solid 1px #2780e3;
}
.footer{
    position:fixed;
    bottom: 0;
    left: 200px;
    right: 0;
    padding:15px;
    background-color: #fff;
}
.box{
    margin-top: 15px;
}
.box-title{
    padding:0 15px;
    border-left: solid 2px #999;
}
.box-content{
    padding:15px;
}
.box-content ul li{
    float: left;
    margin-right: 30px;
}
/* modal */
#lean_overlay {
    position: fixed;
    z-index:1000;
    top: 50px;
    left: 200px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.modal{
  padding: 0 15px;
  background: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  width: 300px;
}
#modalZu{
  text-align: center;
}

/* 分页 */
ul.pagination{
    margin-top: 10px;
}
ul.pagination li{
    float: left;
    height: 30px;
    line-height: 30px;
    width: 30px;
    background-color: #e7e7e7;
    margin-right: 5px;
    text-align: center;
}
ul.pagination li.active{
    background-color: #5bc0de;
}
ul.pagination li a{
    display: block;
}
ul.pagination li.active span{
    color: #fff;
}
table.dash tr:hover{
    background: none;
}