body{
    background-color: #f4f4f4;
    padding-top: 60px;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    color: #3fb618;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    padding: 0 30px;
}
.header{
    height: 60px;
    line-height: 60px;
    background-color: #333;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
.header a.brand{
    font-size: 18px;
    color: #3fb618;
    padding-right: 15px; 
}
.header div.brand{
     float: left;
}
.header small{
    color: #999;
}
.header ul{
    float: right;
    margin-left: 15px;
}
.header ul li{
    float: left;
}
.header ul li a{
    display: inline-block;
    padding: 0 15px;
    font-size: 12px;
    float: left;
    color: #999;
}
.header ul li a:hover{
    color: #3fb618;
}
.header ul li a.active{
    background-color: #2f8912;
    color: #fff;
}
.header div.user-no, .header div.user{
    float: right;
}
.header div.user-no a{
}
.header div.user a{
    position: relative;
}
.websites{
    margin-top: 30px;
}
table{
    width: 100%;
    background-color: #fff;
    border: solid 1px #e7e7e7;
    font-size: 14px;
}
table th,table td{
    text-align: left;
    padding: 15px;
    border: solid 1px #e7e7e7;
}
table td a{
    color: #999;
    text-decoration: underline;
}
.websites-no{
    margin-top: 30px;
    border: solid 1px #e7e7e7;
    padding: 30px;
    background-color: #fff;
    font-size: 18px;
}
.websites-no-create{
    color: #999; 
}
.footer{
    margin-top: 30px;
    text-align: center;
}
.footer a{
    color: #999;
    margin-right: 15px;
}
.footer a:hover{
    color: #3fb618;
}