body{
	background-color: #f4f4f4;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	color: #3fb618;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.header{
	height: 100px;
	line-height: 100px;
	background-color: #fff;
}
.header a.brand{
	font-size: 38px;
	color: #3fb618;
}
.header span{
	color: #999;
}
.container{
	width: 1000px;
	margin: 0 auto;
}
.title{
	height: 50px;
	margin-top: 30px;
}
.title ul li{
	float: left;
	background-color: #fff;
	height: 50px;
	width: 50%;
	line-height: 50px;
	text-align: center;
	color:#3fb618;
	font-size: 18px;
}
.item{
	margin-top: 15px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.form{
	background-color: #fff;
	padding: 30px 0 60px 0;
	border-top: solid 1px #e7e7e7;
}
.form-control{
    height: 40px;
    width: 100%;
    outline: none;
    border: solid 1px #d6d6d6;
    text-indent: 10px;
}
.form-control:focus{
    border: solid 1px #3fb618;
}
form{
	width: 360px;
	margin: 0 auto;
}
form .item-p{
	color: #333;
	font-weight: bold;
}
form .item-p small{
	font-weight: normal;
	color: #999;
}
button{
    height: 40px;
    width: 100%;
    background-color: #3fb618;
    border: solid 1px #2ea507;
    color: #fff;
}
button:hover{
    background-color:#2ea507;
}
.errors{
    color: #d9534f;
    font-size: 12px;
}
.errors p{
    margin: 0;
    margin-bottom: 15px;
}
.footer{
	margin-top: 30px;
	text-align: center;
}