body{
    background-color: #f4f4f4;
    padding-top: 60px;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    color: #3fb618;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    padding: 0 30px;
}
.header{
    height: 60px;
    line-height: 60px;
    background-color: #333;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}
.header a.brand{
    font-size: 18px;
    color: #3fb618;
    padding-right: 15px; 
}
.header div.brand{
     float: left;
}
.header small{
    color: #999;
}
.header ul{
    float: right;
    margin-left: 15px;
}
.header ul li{
    float: left;
}
.header ul li a{
    display: inline-block;
    padding: 0 15px;
    font-size: 12px;
    float: left;
    color: #999;
}
.header ul li a:hover{
    color: #3fb618;
}
.header ul li a.active{
    background-color: #2f8912;
    color: #fff;
}
.header div.user-no, .header div.user{
    float: right;
}
.header div.user-no a{
}
.header div.user a{
    position: relative;
}
.website-make-title{
    margin-top: 30px;
    font-size: 18px;
}
.website-make-setup{
   margin-top: 30px;
}
.website-make-setup ul li{
    float: left;
    font-size: 12px;
    color: #999;
}
.website-make-setup ul li.active{
    color: #000;
}
.text-green{
    color: #3fb618;
}
.text-origin{
    color: #ff7518;
}
.text-blue{
    color: #2780e3;
}
.website-class{
    margin-top: 30px;
}
table{
    width: 100%;
    background-color: #fff;
    border: solid 1px #e7e7e7;
    font-size: 14px;
}
table th,table td{
    text-align: center;
    padding: 15px;
    border: solid 1px #e7e7e7;
}
table td p small{
    color: #999;
}
table td span.item{
    display: inline-block;
    border: solid 1px #d6d6d6;
    padding: 5px;
}
table td a.action{
    padding: 5px 10px;
    border: solid 1px #2ec507;
    background-color: #3fb618;
    display: inline-block;
    color: #fff;
}
table td a.action:hover{
    background-color: #2f8912;
    border-color: #2c8011;
}
.errors{
    color: #d9534f;
    font-size: 12px;
    margin-top: 30px;
}
.errors p{
    margin: 0;
    margin-bottom: 15px;
}
.errors p a{
    text-decoration: underline;
}
.footer{
    margin-top: 30px;
    text-align: center;
}
.footer a{
    color: #999;
    margin-right: 15px;
}
.footer a:hover{
    color: #3fb618;
}