<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>云狄cms演示站点 - 资讯列表</title>
    <include file="header" />
    <!-- news -->
    <div class="news">
        <div class="container">
            <div class="row title">
                <div class="col-sm-12">
                    <h2>最新资讯</h2>
                </div>
            </div>
            <!-- 有缩略图 -->
            <div class="row border">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="">
                                <h3>云狄网络智能建站平台正式上线</h3>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 hidden-xs">
                            <a href="{{:U('Indexs/news',array('id'=>1))}}"><img src="{{$tpl_path}}/images/demo/cms/banner.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <div class="col-sm-9">
                            <p>云狄网络智能建站平台正式上线云狄网络智能建站平台正式上线云狄网络智能建站平台正式上线云狄网络智能建站平台正式上线云狄网络智能建站平台正式上线云狄网络智能建站平台正式上线</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 无缩略图 -->
            <div class="row last">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="">
                                <h3>云狄网络智能建站平台正式上线</h3>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>云狄网络智能建站平台正式上线云狄网络智能建站平台正式上线云狄网络智能建站平台正式上线云狄网络智能建站平台正式上线云狄网络智能建站平台正式上线云狄网络智能建站平台正式上线</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <include file="footer" />