<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>云狄cms演示站点 - 云狄网络</title>
    <include file="header" />
    <!-- products -->
    <div class="container products">
        <div class="row title">
            <div class="col-sm-12">
                <h2>产品中心</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="{{:U('Indexs/product',array('id'=>1))}}"><img src="{{$tpl_path}}/images/demo/cms/banner.jpg" alt="" class="img-responsive"></a>
                <p><a href="">云狄cms</a></p>
            </div>
            <div class="col-sm-6">
                <a href="{{:U('Indexs/product',array('id'=>1))}}"><img src="{{$tpl_path}}/images/demo/cms/banner.jpg" alt="" class="img-responsive"></a>
                <p><a href="">云狄cms</a></p>
            </div>
            <div class="col-sm-6">
                <a href=""><img src="{{$tpl_path}}/images/demo/cms/banner.jpg" alt="" class="img-responsive"></a>
                <p><a href="{{:U('Indexs/product',array('id'=>1))}}">云狄cms</a></p>
            </div>
            <div class="col-sm-6">
                <a href="{{:U('Indexs/product',array('id'=>1))}}"><img src="{{$tpl_path}}/images/demo/cms/banner.jpg" alt="" class="img-responsive"></a>
                <p><a href="{{:U('Indexs/product',array('id'=>1))}}">云狄cms</a></p>
            </div>
        </div>
    </div>

    <include file="footer" />