<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>云狄cms演示站点-产品页</title>
    <include file="header" />

    <!-- products -->
    <div class="container products">
        <div class="row title">
            <div class="col-sm-12">
                <h2>云狄cms</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img src="{{$tpl_path}}/images/demo/cms/banner.jpg" alt="" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms云狄cms
            </div>
        </div>
    </div>
 <include file="footer" />